main { font-style: normal; }

footer { margin-top: 50px; }

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
    margin-left: 65px;
}

h1 {
    font-weight: 700, Bold; 
    font-size: 60px;
    line-height: 5px;
    color: #FF4081;
    margin-top: 75px;
    margin-left: 65px;
}

a {
    text-decoration: none; 
    color: #ffffff;  
}
   
h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

hr {
    color: #C4C4C4;    
    border-style: inset;
    border-width: 3px;
    width: 90%;
}

 .post-container {
    margin: 50px 20px 50px 20px;  
    border: none;
    overflow: auto;
}

.post-container img {
    float: left;
    display: block;
    padding: 40px 70px 20px 70px;

}

.post-container p {
    
    padding-top: 40px;
    padding-bottom: 70px;
    padding-right: 400px;
    font-weight: 300 lighter;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.post-container a {
    background: #419488;
    text-transform: lowercase;
    border-radius: 62px;
    width: 233px;
    font-size: 21px;
    padding: 10px 50px 10px 50px;
}

@media only screen and (max-width: 769px) {

    h1 { 
        text-align: center; 
        margin: 0 0 0 0%;
        padding: 10% 0 10% 0
    }
    p { 
        text-align: center; 
        margin: 0 0 0 0%;
        padding: 0 0 0% 0
    }

    hr { display: none; }

    h3 { margin-left: 0 0 0 0; padding: 0 0 0% 0; text-align: center; }

    .post-container p { margin: 0 0 0 0; padding: 0 0 15% 0; text-align: center; }

    .post-container img { display: none; }

    .post-container a {
        margin: 2% 0% 2% 38%;
        padding: 5% 5% 5% 5%;
        width: 233px;
        font-size: 16px;
    }



}

@media only screen and (max-width: 481px) {

    main { padding-top: 50px; padding-bottom: 25px;}

    h1 { 
        text-align: center; 
        margin: 0 0 0 0%;
        padding: 0 0 10% 0
    }
    p { 
        text-align: center; 
        margin: 0 0 0 0%;
        padding: 0 0 5% 0
    }

    hr { display: none; }

    h3 { margin-left: 0 0 0 0; padding: 0 0 5% 0; text-align: center; }

    .post-container p { margin: 0 0 0 0; padding: 0 0 15% 0; text-align: center; }

    .post-container img { display: none; }

    .post-container a {
        margin: 2% 0% 2% 35%;
        padding: 5% 5% 5% 5%;
        width: 233px;
        font-size: 16px;
    }


}